* {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  background-size: contain;
}

.main-background {
  background: url(../../../img/banner.png) no-repeat;
}

.bannerTop {
  padding-top: 9rem !important;
  padding-bottom: 3rem !important;
}

.bannerText {
  font-size: 20px;
  text-align: justify;
}

.bannerText span {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

button.buttonMore {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 30px;
}

.bannerPhoto {
  width: 20rem;
}
